body {
  background-color: #85FFBD;
  background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  
  
}
.container {
  width: 100%;
  min-width: 33%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.kanbanheading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
}

.kanban-board {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
}

.kanbantekst {
  font-size: 2rem;

  background-color: white;

  padding: 0.79rem 1.69rem;
  border-radius: 0.49rem;
  margin: 0.99rem;
}


.inputraekke {
  display: flex;
  flex-direction: row;
  margin: 0.19rem;
}

.raekkeprint {
  width: 14.9%;
  padding: 0.19rem;
  padding-right: 0.5rem;
  border: 0.09rem solid black;
  border-right: 0;
  border-radius: 0.19rem 0rem 0rem 0.19rem;
}

.raekkeinput {
  border: 0.1rem solid black;
  border-radius: 0rem 0.2rem 0.2rem 0rem;
  width: 84.9%;
}

.textarea {
  resize: none;
}

.raekkeknapns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.19rem;
}
#redigerknap,
#gemknap,
#tilbageknap {
  margin: 0.19rem 0rem 0.09rem 0rem;
  background-color: white;
  border-radius: 0.2rem;
  width: 45.2%;
  border: 0.25rem solid black;
  padding: 0.3rem 1.75rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
}
#redigerknap {
  display: none;
}

  

.kanban-block,
.lavnyopgaveblok {
  padding: 0.6rem;
  width: 30.5%;
  min-width: 14rem;
  min-height: 4.5rem;
  border-radius: 0.3rem;
}

#skalGoeres {
  background-color: red;
}

#igangvaerende {
  background-color: yellow;
 
}

#Færdig {
  background-color: green;
  
}

.task {
  background-color: white;
  margin: 0.19rem 0rem 0.29rem 0rem;
  border: 0.09rem solid black;
  border-radius: 0.2rem;
  padding: 0.49rem 0.19rem 0.49rem 1.9rem;
}

#opgknap {
  margin: 0.19rem 0rem 0.09rem 0rem;
  background-color: white;
  border-radius: 0.19rem;
  width: 100%;
  border: 0.249rem solid black;
  padding: 0.5rem 2.7rem;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.lavnyopgaveblok {
  display: none;
  background: #ffaf00;
  width: 64.4%;
  flex-direction: column;
}
